ul{
    list-style: none;
}

p{
    font-size: 21px;
}

.taskBox{
    display: flex;
    flex-direction: column;
    width: 450px;
    border: 6px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}
